@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

:root {
  --light-gray: #8d8d8d;
  --dark-gray: #5f5f5f;
  --darker-gray: #737373;
  --footer-grey: #6e6e6e;
  --blue-links: #0088cc;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
}

.hero {
  color: white;
  background: url(../images/your_verse_hero.jpg) center bottom no-repeat;
  background-size: 1440px 1315px;
  min-height: 85vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 60px 0;
  margin-bottom: 20px;
}

.hero p {
  font-size: 2rem;
  font-weight: 300;
  width: 60%;
  margin: 0 auto;
}

main p:last-child {
  margin-top: 50px;
  font-size: 1.5rem;
}

main a {
  color: white;
  text-decoration-line: none;
}

header ul {
  display: flex;
}

header li {
  flex: 1;
  border-right: 0.25px solid black;
  display: flex;
  height: 36px;
  font-size: 13px;
}

header li a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

header {
  padding-top: 80px;
}

header nav {
  width: 1000px;
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom,
    var(--darker-gray),
    var(--dark-gray),
    var(--light-gray)
  );
  border-radius: 5px;
}

header li:first-child a {
  font-size: 1.4rem;
}

header li:last-child {
  flex: 2;
  align-items: center;
  justify-content: center;
  border: none;
}

header form {
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 25px;
}

header li:last-child input[type="search"] {
  display: block;
  height: 20px;
  border: none;
  width: 80%;
  background: transparent;
  padding-right: 10px;
  color: white;
}

header label {
  width: 20%;
  text-align: center;
}

header a {
  color: white;
  text-decoration: none;
}

aside ul {
  display: flex;
}

aside li {
  flex: 1;
}

img {
  max-width: 100%;
}

footer {
  display: flex;
  padding: 20px 0;
  font-size: 11px;
  color: var(--footer-grey);
  justify-content: center;
}

footer div:first-child {
  margin-right: 40px;
}

footer div:last-child {
  width: 40%;
}

footer div:first-child p:last-child {
  margin-top: 20px;
}

footer a {
  color: var(--blue-links);
  text-decoration: none;
}

footer a:hover {
  text-decoration-line: underline;
}

footer ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer li {
  border-right: 1px solid;
  padding-right: 10px;
}

footer li:last-child {
  border-right: none;
  padding: 0;
}

footer div:first-child div {
  width: 100%;
  margin-top: 20px;
}

footer div:first-child div p {
  display: inline-block;
}

footer div:first-child div ul {
  display: inline-flex;
  margin-left: 2px;
  text-align: center;
}

footer div:first-child div ul li:last-child {
  padding-left: 10px;
}
